.mail {
  margin-left: auto;
  margin-top: 5px;
  margin-right: 5px;
  width: 78%;
  height: 440px;
}
.intro {
  background-color: #ffffff;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  margin: 1%;
  height: 50px;
}

.intro h4 {
  color: black;
  padding: 1%;
}

.to {
  background-color: #a3a3a3;
  margin: 1%;
  display: flex;
  height: 50px;
  margin-top: -5px;
  padding: 4px;
  border-bottom: 1px solid white;
}
.to label {
  padding: 1%;
}

.to input {
  background-color: #a3a3a3;
  height: 100%;
  width: 100%;
  border: 1px solid #0000005c;
}

.text {
  background-color: #a3a3a3;
  margin: 1%;
  display: flex;
  height: 82%;
  margin-top: -5px;
  padding: 4px;
  border-bottom: 1px solid white;
}
.text textarea {
  background-color: #a3a3a3;
  width: 100%;
}

.form {
  height: 95%;
}

.button {
  font: initial;
  background: #4a4848;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.45rem;
  border: 2px solid #56ccf2;
  border-radius: 7px;
}
