.list {
  background-color: #a3a3a3;
  border-bottom: 1px solid white;
  height: 35px;
  display: flex;
  width: 97%;
  font-size: smaller;
  justify-content: space-between;
}

.list:hover {
  background-color: #555555;
  color: white;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #1236ff;
  border-radius: 50%;
  align-self: center;
  display: inline-block;
}

.link {
  display: contents;
  color: black;
}

.link:hover {
  display: contents;
  color: rgb(255, 255, 255);
}

.span1 {
  display: flex;
  width: 24%;
}

.span2 {
  display: flex;
  width: 60%;
}

.span3 {
  display: flow-root;
  width: 23%;
  text-align: end;
  white-space: pre-line;
}
.span4 {
  width: 10%;
  padding: 1px;
}

.sec1 {
  font-weight: bold;
  margin-right: 4px;
  width: 30%;
}

.sec2 {
  margin-right: 4px;
  width: 70%;
}
.button {
  background-color: red;
  color: white;
  border: 1px solid white;
}
