.list {
  background-color: #a3a3a3;
  border-bottom: 1px solid white;
  height: 35px;
  display: flex;
  width: 97%;
  font-size: smaller;
  justify-content: space-between;
}

.list:hover {
  background-color: #474747;
  border-bottom: 1px solid white;
  height: 35px;
  display: flex;
  color: white;
  width: 97%;
  font-size: smaller;
  justify-content: space-between;
}

.span1 {
  display: flex;
  width: 30%;
}

.span2 {
  display: flex;
  width: 40%;
}

.span3 {
  display: flow-root;
  width: 40%;
  text-align: end;
  white-space: pre-line;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.sec1 {
  font-weight: bold;
  margin-right: 4px;
}

.link {
  display: contents;
  color: black;
}
