.main {
  background-color: white;
  display: flex;
  background: dimgrey;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  border-bottom: px solid white;
  height: 55px;
}

.main h1 {
  color: rgb(255, 255, 255);
  align-self: center;
  padding: 2%;
  font-size: larger;
}

.main button {
  background-color: #ffffff9e;
  border-bottom: 1px solid white;
  height: 35px;
  width: 89px;
  margin: 5px;
}
.main button:hover {
  background-color: #ffffff;
  border-bottom: 1px solid white;
  height: 35px;
  width: 89px;
  margin: 5px;
}
