.side {
  background-color: #6c6c6c;
  margin-top: 3px;
  margin-left: 2px;
  position: absolute;
  height: -webkit-fill-available;
  width: 20%;
  padding: 1%;
  display: block;
  text-align-last: center;
}

.link {
  color: white;
  display: block;
  padding: 7%;
  width: 100%;
  margin-bottom: 8px;
  background-color: #00000042;
}

.link:hover {
  color: white;
  display: block;
  padding: 7%;
  width: 100%;
  margin-bottom: 8px;
  background-color: #86868646;
}

.link1 {
  color: white;
  display: block;
  padding: 7%;
  width: 100%;
  margin-bottom: 8px;
  background-color: #000000fb;
}
