.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 18rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: white;
}

.auth h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 22px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.45rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  color: black;
  text-align: center;
  flex-direction: column;
  padding: 1%;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(255, 255, 255);
  background-color: #4c00ff;
  border: 1px solid #5c5ecc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}
